<div class="modal-info">
  	<div class="modal-header">
    	<h3 class="modal-title">Add Return Details</h3>
	</div>
	<div class="modal-body">
	    <form name="returnClosing">
				<div class="form-group" ng-class="{'has-error':returnClosing.return_amount.$touched && returnClosing.return_amount.$invalid}">
	          		<label for="uname" class="control-label">Refund Amount:*</label>
					<input type="text"  name="return_amount" ng-model="user.returnAmount" required class="form-control" placeholder="Return Amount">
					<span class="help-block" ng-show="returnClosing.return_amount.$error.required && returnClosing.return_amount.$touched">Please enter the refund amount</span>
      			</div>
      			<div class="form-group" ng-class="{'has-error':returnClosing.return_date.$touched && returnClosing.return_date.$invalid}">
	          		<label for="uname" class="control-label">Return-filing Date:*</label>
					<input type="text"  name="return_date" ng-model="user.returnDate" required class="form-control" placeholder="Return Date">
					<span class="help-block" ng-show="returnClosing.return_date.$error.required && returnClosing.return_date.$touched">Please enter the return filing date</span>
      			</div>
		</form>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="close()">Submit</button>
	    <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>
