<div class="modal-info">
  <div class="modal-header">
    <h3 class="modal-title">Update User</h3>
</div>
<div class="modal-body"  ng-init="getRolesList()">
     <form class="form-horizontal" name="updateUser">
     		<div class="form-group" ng-class="{'has-error':updateUser.us_role.$touched && updateUser.us_role.$invalid}">
			          	<label for="role" class="col-sm-3 control-label">User Role:</label>
						<div class="col-sm-8" style="padding-bottom:5px;">
							<select class="form-control" name="us_role" ng-model="users.role" required>
								<option value="">User Role</option>
								<option ng-value="role._id" ng-repeat="role in roleList">{{role.type}}</option>
							</select>
							<span class="help-block" ng-show="updateUser.us_role.$error.required && updateUser.us_role.$touched">User Role is required</span>
						</div>		
		          	</div>
 	 	     	<div class="form-group" ng-class="{'has-error':updateUser.us_name.$touched && updateUser.us_name.$invalid}">
			          	<label for="uname" class="col-sm-3 control-label">User Name:</label>
						<div class="col-sm-8">
							<input type="text" name="us_name" ng-model="users.username" class="form-control" placeholder="User Name" required>
							<span class="help-block" ng-show="updateUser.us_name.$error.required && updateUser.us_name.$touched">User Name is required</span>
						</div>		
		          	</div>
		          	<div class="form-group" ng-class="{'has-error':updateUser.us_pass.$touched && updateUser.us_pass.$invalid}">
			          	<label for="pass" class="col-sm-3 control-label">PassWord:</label>
						<div class="col-sm-8" style="padding-bottom:5px;">
							<input type="password" name="us_pass" ng-model="users.password" ng-change="change()" class="form-control" placeholder="PassWord" required >
							<span class="help-block" ng-show="updateUser.us_pass.$error.required && updateUser.us_pass.$touched">Password is required</span>
							
						</div>		
		          	</div>
		          	<div class="form-group" ng-class="{'has-error':updateUser.us_repass.$touched && updateUser.us_repass.$invalid}">
			          	<label for="pass" class="col-sm-3 control-label">ReEnter PassWord:</label>
						<div class="col-sm-8" style="padding-bottom:5px;">
							<input type="password" name="us_repass" ng-model="user.repass" ng-change="change()"  class="form-control" placeholder="PassWord" required >
							<span class="help-block" ng-show="updateUser.us_repass.$error.required && updateUser.us_repass.$touched">Please reenter password</span>
						</div>		
		          	</div>
		          <div class="form-group" ng-class="{'has-error':updateUser.us_email.$touched && updateUser.us_email.$invalid}">
			          	<label for="lname" class="col-sm-3 control-label">Email:</label>
						<div class="col-sm-8">
							<input type="email" name="us_email" ng-model="users.email" class="form-control" placeholder=" Email " required>
							<span class="help-block" ng-show="updateUser.us_email.$error.required && updateUser.us_email.$touched">Email is required</span>
						</div>	
		          	</div>
		          	
		      
     </form>>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="update()">Update</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>
