<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
  <div class="row"  ng-init="getReturnCount()">
    <div class="col-md-5 col-xs-6">
        <div class="small-box bg-green"  ng-init="getAllUsers()">
            <div class="inner">
              <h3>{{users.nos}}</h3>

              <p>Users Registered</p>
            </div>
            <div class="icon">
              <i class="fa fa-file"></i>
            </div>
            <a href="" ui-sref="user-list" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
    </div>
    <div class="col-md-5 col-xs-6" ng-if="returnFilesCounts[0].count">
          <div class="small-box bg-yellow" >
            <div class="inner">
              <h3>{{returnFilesCounts[0].count}}</h3>
              
              <p>All Return Files {{returnFilesCounts[0]._id.status}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-file"></i>
            </div>
            <a href="" ui-sref="return-file-list" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
     </div>
   <div class="row">
     <div class="col-md-5 col-xs-6" ng-if="returnFilesCounts[1].count" >
           <div class="small-box bg-yellow" >
             <div class="inner">
               <h3>0{{returnFilesCounts[1].count}}</h3>

               <p>All Return Files: Submitted{{returnFilesCounts[1]._id.status}}</p>
             </div>
             <div class="icon">
               <i class="fa fa-file"></i>
             </div>
             <a href="" ui-sref="return-file-list" class="small-box-footer">
               More info <i class="fa fa-arrow-circle-right"></i>
             </a>
           </div>
         </div>
         <div class="col-md-5 col-xs-6" ng-if="returnFilesCounts[2].count">
               <div class="small-box bg-yellow">
                 <div class="inner">
                   <h3>0{{returnFilesCounts[2].count}}</h3>

                   <p>All Return Files: Completed{{returnFilesCounts[2]._id.status}}</p>
                 </div>
                 <div class="icon">
                   <i class="fa fa-file"></i>
                 </div>
                 <a href="" ui-sref="return-file-list" class="small-box-footer">
                   More info <i class="fa fa-arrow-circle-right"></i>
                 </a>
               </div>
             </div>
    </div>
    </div>
 </section>
