<section class="content-header" ng-init="getPayment()">
  <h1>
   Payment Confirmation
    <small>Control panel</small>
  </h1>
</section>
<section class="content" ng-init="getItrId()" ng-hide="checkAdmin()">
	<div class="row col-sm-6 col-md-offset-3" >
		<div class="box box-success">
	        <div class="box-header with-border">
	            <h3 class="box-title">Payment Confirmation</h3>
	        </div>
	        <form name="payment">
		        <div class="box-body col-sm-offset-1">
				   	<p><u>Please Transfer Payment on below Account details</u></p>
				    <p>Account Nmame:<strong>   Banijyaseva Private Limited</strong></p>
				   	<p>Account No:<strong>   777705500500</strong></p>
				    <p>IFSC:<strong>   ICIC0000061</strong></p>
				    <p>Bank Name:<strong>   ICICI Bank Ltd.</strong></p>
				    <div class="form-group has-feedback col-sm-4" ng-class="{'has-error':payment.itr.$touched && payment.itr.$invalid}">
						<label for="uname" class="control-label">ITR ID:</label>						
						<select class="form-control" name="itr" ng-model="user._id" required>
		          			<option value=""><i class="fa fa-sort-desc">ITR ID</i></option>
		          			<option ng-value="itrs._id" ng-repeat="itrs in itrIdList">{{itrs.itrId}}</option>
		          		</select>
						<span class="help-block" ng-show="payment.itr.$error.required && payment.itr.$touched">Please enter a valid ITR Id </span>						
					</div>			    
			    	<div class="form-group has-feedback col-sm-4" ng-class="{'has-error':payment.transacId.$touched && payment.transacId.$invalid}">
						<label for="uname" class="control-label">Transaction ID:</label>
						<input type="text" name="transacId" ng-model="user.tranId" class="form-control" placeholder="Transaction Id" required >
						<p><b>(Note:Please enter your Successfull payment Transaction No )</b></p>
						<span class="help-block" ng-show="payment.transacId.$error.required && payment.transacId.$touched">Please enter a valid transaction Id </span>						
					</div>
					<div class="form-group has-feedback col-sm-4" ng-class="{'has-error':payment.amount.$touched && payment.amount.$invalid}">
						<label for="uname" class="control-label">Amount:</label>
						<input type="text" name="amount" floats-only numbers-only ng-model="user.tranAmt" class="form-control" placeholder="Amount" required >
						<span><h6>only Numeric</h6></span>
						<span class="help-block" ng-show="payment.amount.$error.required && payment.amount.$touched">Please enter Amount </span>						
					</div>
			   	</div> 
			   	<div class="box-footer">
				 	<button type="submit" class="btn btn-default"  ui-sref="dashboard">Back</button>
				  	<button type="submit" ng-disabled="payment.$invalid" class="btn btn-info pull-right" ng-click="paymentConfirm()">Submit</button>
				</div>
	        </form>
		</div>
	</div>
</section>
<section class="content"  ng-show="checkAdmin()">
	<h1>
   		Welcome
    <small>SuperAdmin</small>
  	</h1>
		<div>
			<div class="row">
				<div class="col-xs-10 col-md-offset-1">
					<div class="box box-info">
		          		<div class="box-header">
		          			<h4><b>All Submitted Payments</b></h4>
		            	</div>
			        	<div class="box-body">
				            <table ng-table="returnList" class="table table-bordered table-hover">
				                <tr   ng-repeat="row in $data">
				                    <td data-title="'Sl No'">{{ $index + 1}}</td>
				                    <td data-title="' ReturnFile Id'" sortable="'_id'">{{row._id}}</td>
				                    <td data-title="' ITR Id'" sortable="'_id'">{{row.itrId}}</td>
				                    <td data-title="'Client Nmae'" sortable="'username'">{{row.client.firstname+" "+row.client.middlename+" "+row.client.lastname}}</td>
				                    <td data-title="'Status'" sortable="'status'"> {{row.status}}</td>
				                    <td data-title="'Action'">              </td>
				                </tr>
				            </table>
				        </div>
			    	</div>
			    </div>    
	    	</div>
		</div>
</section>