<section class="content-header m-b-40">
  <h1 class="pull-left">
    WelCome Admin
  </h1>
</section>
<section class="content" ng-init="returnFileDetails()">
	<div class="row">
		
		<div class="col-xs-4 col-md-3 col-md-offset-1">
			<div class="col-xs-12 col-md-8 p-b-10" ng-if="returnDetails.status">
				<label class="control-label pull-left">Return File Status</label>
				<input type="text" ng-model="returnDetails.status" class="form-control" readonly>
			</div>
		</div>
		<div class="col-xs-4 col-md-3  col-md-offset-1">
			<div class="col-xs-12 col-md-12 p-b-10" ng-show="returnDetails.status == 'failed' ">
				<label class="control-label pull-left">Payment Status</label>
				<input type="text" ng-model="returnDetails.failedMessage" class="form-control" readonly>
			</div>
			<div class="col-xs-12 col-md-12 p-b-10" ng-show="returnDetails.successMessage || returnDetails.successMessage != null ">
				<label class="control-label pull-left">Payment Status</label>
				<input type="text" ng-model="returnDetails.successMessage" class="form-control" readonly>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="returnDetails.form16">
		<div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
		   			<div class="box box-info">
			      		<div class="box-header with-border">
			        		<h3 class="box-title">Income Details</h3>
			      		</div>
			    		<div class="box-body">
				        		<div class="row">
				        			<div class="col-sm-12 col-xs-12 col-md-12">
				        				<div class="col-xs-12 col-md-4 col-sm-4">
							        		<div class="form-group">
								          		<label for="uname" class="control-label">Contractual Employement  Income:*</label>
												<input type="text" ng-model="returnDetails.conEmpInc" class="form-control" readonly>
						          			</div>
								          	<div class="form-group">
									          		<label for="uname" class="control-label">Income from Business / Profession:</label>
													<input type="text" ng-model="returnDetails.businessInc" class="form-control" readonly>
								          	</div>
								          	<div class="form-group">
									          		<label for="uname" class="control-label">Income from Capital Gain:</label>
													<input type="text" name="business_income" ng-model="returnDetails.capitalGainInc" ng-change="change()" class="form-control" readonly>
								          	</div>
						      			</div>
										<div class="col-xs-12 col-md-4 col-sm-4">
					          				<div class="box box-info ">
								    			<div class="box-header with-border">
								        			<h3 class="box-title">Income from House Property</h3>
								    			</div>
								    			<div class="box-body">
								    				<div class="form-group col-sm-10">
										          		<label for="uname" class="control-label">Rental Income:</label>
														<input type="text" name="rental_income" ng-model="returnDetails.rentalInc" ng-change="change()" class="form-control" readonly>		
								          			</div>  
								          			<div class="form-group col-sm-10">
										          		<label for="uname" class="control-label">Interest on House Loan:</label>
														<input type="text" name="house_interest_income" ng-model="returnDetails.houseLoanInterestInc" ng-change="change()" class="form-control" readonly>		
					          						</div>  
								    			</div>
											</div>
										</div>
										<div class="col-xs-12 col-md-4 col-sm-4">
											<div class="box box-info ">
							    				<div class="box-header with-border">
							        				<h3 class="box-title">Income from Other Sources</h3>
							    				</div>
							    				<div class="box-body">
											    	<div class="form-group col-sm-10">
										          		<label for="uname" class="control-label">Interest (Fixed Deposit):</label>
														<input type="text" name="rental_income" ng-model="returnDetails.fixDepositInc" ng-change="change()" class="form-control" readonly>		
								          			</div>  
								          			<div class="form-group col-sm-10">
										          		<label for="uname" class="control-label">Interest (Savings A/c):</label>
														<input type="text" name="savings_interest" ng-model="returnDetails.savingAcInc" ng-change="change()" class="form-control" readonly>		
								          			</div>  
								          			<div class="form-group col-sm-10">
										          		<label for="uname" class="control-label">Any other income:</label>
														<input type="text" name="house_interest_income" ng-model="returnDetails.otherInc" ng-change="change()" class="form-control" readonly>	
								          			</div>  
							    				</div>
											</div>										
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label for="lname" class="col-sm-3 control-label">Total:</label>
										<div class="col-sm-3">
											<input type="text" ng-model="returnDetails.total" class="form-control" readonly>	
										</div>
									</div>
								</div>
							</div>
		     		    </div>
				     </div>
				</div>   		
		<div class="row">
        	<div class="col-xs-12 col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">		
	       	 	<div class="box box-info">
	       	 		<div class="box-header with-border">
						<h3 class="box-title">Deduction Under Chapter VIA</h3><hr>
					</div>
					<div class="box-header with-border">
						<h3 class="box-title">Section 80 C</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4">
                              	 <label for="uname" class="control-label">Life Insurance Premium:</label>
								 <input type="text"  name="life_insurance" ng-model="returnDetails.lip80C" class="form-control" readonly>		 
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
                                <label for="uname" class="control-label">PPF:</label>
								<input type="text" name="ppf" ng-model="user.pff80C" class="form-control" readonly>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				          		<label for="uname" class="control-label">PF:</label>
								<input type="text" name="pf" ng-model="returnDetails.pf80C" class="form-control" readonly>				
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4">
                              	<label for="uname" class="control-label">Children’s Tuition Fees:</label>
								<input type="text" name="child_tution" ng-model="returnDetails.tutionFees80C" class="form-control" readonly>		 
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
                                <label for="uname" class="control-label">Mutual Fund:</label>
								<input type="text" name="mutual_fund" ng-model="returnDetails.mf80C" class="form-control" readonly>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
				          		<label for="uname" class="control-label">Senior Citizens Scheme :</label>
								<input type="text" name="scss" ng-model="returnDetails.senCitizec80C" class="form-control" readonly>				
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4">
                              	<label for="uname" class="control-label">Fixed Deposit (5 Yrs):</label>
								<input type="text" name="fixed_deposit" ng-model="returnDetails.fd80C" class="form-control" readonly>		 
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
                                <label for="uname" class="control-label">National Pension System:</label>
								<input type="text" name="nps" ng-model="returnDetails.nps80C" class="form-control" readonly>		
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">						          			
				          		<label for="uname" class="control-label">National Savings Certificate:</label>
								<input type="text" name="nsc" ng-model="returnDetails.nsc80C" class="form-control" readonly>			
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4">
								<label for="uname" class="control-label">Unit Linked Insurance Plans:</label>
								<input type="text" class="form-control" name="link_insurance" ng-model="returnDetails.uip80C" class="form-control" readonly>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<label for="uname" class="control-label">Sukanya Samriddhi Yojana:</label>
								<input type="text" name="SSY" ng-model="returnDetails.ssy80C" class="form-control" readonly>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4">
								<label for="uname" class="control-label"> Principal	Repayment of home loan:</label>
								<input type="text" name="repay_home_loan" ng-model="returnDetails.prh80C" class="form-control" readonly>
							</div>
						</div><hr>
						<div class="row">	
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="box box-info">
									<div class="box-header with-border">
								       	<h3 class="box-title"><strong>Section 80CCD (1B)</strong></h3>
								   	</div>
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Contribution to NPS:</label>
										<input type="text" name="contribution_nps" ng-model="returnDetails.nps80CCD" class="form-control" readonly>
								   	</div>
								</div>
								<div class="box box-info">
									<div class="box-header with-border">
								       	<h3 class="box-title"><strong>Section 80D</strong></h3>
								   	</div>
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Mediclaim Insurance:</label>
										<input type="text" name="med_insurance" ng-model="returnDetails.Mediclaim80D" class="form-control" readonly>
								   	</div>
								</div>

							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="box box-info">
									<div class="box-header with-border">
								       	<h3 class="box-title"><strong>Section 80E</strong></h3>
								   	</div>
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Interest on Education Loan:</label>
										<input type="text" name="edu_loan" ng-model="returnDetails.eduLoan80E" class="form-control" readonly>
								   	</div>
								</div>
								<div class="box box-info">
									<div class="box-header with-border">
								       	<h3 class="box-title"><strong>Section 80TTA</strong></h3>
								   	</div>
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Savings Bank Interest:</label>
										<input type="text" name="savings_interest" ng-model="returnDetails.saving80TTA" class="form-control" readonly>
								   	</div>
								</div>
							</div>
							
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12 col-sm-10 ">
							<div class="box box-info">
								<div class="col-xs-6">											
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Return Amount:</label>
										<input type="text" name="return_amount" ng-model="returnDetails.returnAmount" class="form-control" readonly>
								   	</div>
								</div>
								<div class="col-xs-6">											
								   	<div class="box-body">
								   		<label for="uname" class="control-label">Return Date:</label>
										<input type="text" name="return_date" ng-model="returnDetails.returnDate" class="form-control" readonly>
								   	</div>
								</div>
							</div>
						</div>
					</div><!--row-->
	    		</div>
			</div>	
		</div>
		</div><!--row-->
		<div class="row">
			<div class="col-xs-12">
		        <button type="submit" class="btn btn-default"><a href="" class="option-btn" ui-sref="return-file-list">Back</a></button>
		        <!-- <button type="submit" ng-click="returnFile()" class="btn btn-info pull-right">Submit</button> -->
    		</div>	
		</div>
	</div>
	</div>
	<div class="row" ng-show="returnDetails.form16">
		 <div class="col-xs-12 col-md-10 col-md-offset-1">
		 	<div class="row">
          <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-green">
              <div class="widget-user-image">

              </div>
              <!-- /.widget-user-image -->
              <h4 class="widget-user-username">Return File details</h4>
            </div>
            <div class="box-footer no-padding">
              <img class="docImg" src="{{returnDetails.form16}}" >
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="row">
			<div class="col-xs-12">
		        <button type="submit" class="btn btn-default"><a href="" class="option-btn" ui-sref="return-file-list">Back</a></button>
		        <!-- <button type="submit" ng-click="returnFile()" class="btn btn-info pull-right">Submit</button> -->
    		</div>	
		</div>
	</div>
	</div>
</section>