<section class="content-header m-b-40" ng-init="returnFileList()">
  <h1 class="pull-left">
    Return File
  <small>List</small></h1>
</section>
<section>
	<div class="row">
	<div class="col-xs-10 col-md-offset-1">
		<div class="box box-info">
          	<div class="box-header">
          		<h4><b>All Submitted Return Files</h4></b>
            </div>
        	<div class="box-body">
	            <table ng-table="returnList" class="table table-bordered table-hover">
	                <tr   ng-repeat="row in $data">
	                    <td data-title="'Sl No'">{{ $index + 1}}</td>
	                    <td data-title="' ReturnFile Id'" sortable="'_id'">{{row._id}}</td>
	                    <td data-title="' ITR Id'" sortable="'_id'">{{row.itrId}}</td>
	                    <td data-title="'Client Nmae'" sortable="'username'">{{row.client.firstname+" "+row.client.middlename+" "+row.client.lastname}}</td>
	                    <td data-title="'Status'" sortable="'status'"> {{row.status}}</td>
	                    <td data-title="'Action'">
	                        
	                        
	                    </td>
	                </tr>
	            </table>
	        </div>
	    </div>
	    </div>    
    </div>
</section>
