<section class="content-header" ng-init="getworkAssign()">
  <h1>
   Work Assignment
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-6 col-md-offset-3" >
			<div class="box box-success">
		        <div class="box-header with-border">
		            <h3 class="box-title">Assign a new Task here</h3>
		        </div>
		        <form name="workAssign">
			        <div class="box-body">
			        	<div class="row">
			        		<div class="col-xs-12 col-md-10 col-md-offset-1">
							    <div class="form-group col-xs-12 col-md-12" ng-class="{'has-error':workAssign.task_name.$touched && workAssign.task_name.$invalid}">
									<label for="uname" class="control-label">Task Name:</label>						
									<select class="form-control" name="task_name" ng-model="task.name" required>
					          			<option value=""><i class="fa fa-sort-desc">Task Name</i></option>
					          			<!-- <option ng-value="itrs.itrId" ng-repeat="itrs in itrIdList">{{itrs.itrId}}</option> -->
					          		</select>
									<span class="help-block" ng-show="workAssign.task_name.$error.required && workAssign.task_name.$touched">Please Enter a Task Name </span>						
								</div>			    
						    	<div class="form-group col-xs-12 col-md-12" ng-class="{'has-error':workAssign.task_desc.$touched && workAssign.task_desc.$invalid}">
									<label for="uname" class="control-label">Task Description:</label>
									<textarea placeholder="Task Description" name="task_desc"  class="form-control" ng-model="task.desc" required></textarea>
									
									<span class="help-block" ng-show="workAssign.task_desc.$error.required && workAssign.task_desc.$touched">Please enter a valid description</span>				
								</div>
								<div class="form-group col-xs-12 col-md-12" ng-class="{'has-error':workAssign.task_assigned_to.$touched && workAssign.task_assigned_to.$invalid}">
									<label for="uname" class="control-label">Assigned To:</label>						
									<select class="form-control" name="task_assigned_to" ng-model="task.name" required>
					          			<option value=""><i class="fa fa-sort-desc">Assigned Employee Name</i></option>
					          			<!-- <option ng-value="itrs.itrId" ng-repeat="itrs in itrIdList">{{itrs.itrId}}</option> -->
					          		</select>
									<span class="help-block" ng-show="workAssign.task_assigned_to.$error.required && workAssign.task_assigned_to.$touched">Please Enter an Employee Name </span>						
								</div>
								<div class="row">
									<div class="col-xs-12 col-md-12">
										<div class="col-xs-6 col-md-6">
											<div class="form-group has-feedback" ng-controller="DatePickerCtrl">
												<label for="lname" class="control-label">Task Create Date:</label>
												
													<!-- <input type="date" name="dob" ng-model="user.dob" class="form-control" required> -->
													<input type="text" class="form-control" name="task_create" placeholder="01 Jan, 2017" ng-model="user.taskCreate" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close" ng-required="false"/>
													<!-- <span class="help-block" ng-show="update.dob.$error.required && update.dob.$touched">DOB is required</span> -->
												
											</div>
										</div>
										<div class="col-xs-6 col-md-6">
											<div class="form-group has-feedback" ng-controller="DatePickerCtrl">
												<label for="lname" class="control-label">Task Close Date:</label>
												
													<!-- <input type="date" name="dob" ng-model="user.dob" class="form-control" required> -->
													<input type="text" class="form-control" name="task_close" placeholder="01 Jan, 2017" ng-model="user.taskClose" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close" ng-required="false"/>
													<!-- <span class="help-block" ng-show="update.dob.$error.required && update.dob.$touched">DOB is required</span> -->
											</div>
										</div>
									</div>
								</div>		
							</div>
				   		</div> 
					</div>
				   	<div class="box-footer">
					 	<button type="submit" class="btn btn-default"  ui-sref="dashboard">Back</button>
					  	<button type="submit" ng-disabled="workAssign.$invalid" class="btn btn-info pull-right" ng-click="workAssignConfirm()">Submit</button>
					</div>
		        </form>
			</div>
		</div>
	</div>
</section>