<section class="content-header m-b-40" ng-hide="checkClient()">
  <h1 class="pull-left">
  Job Assignments List
  </h1>
 
</section>
<section class="content" ng-init="getAssignedJobs()" ng-show="checkAdmin()">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="box">
        <div class="box-body over-x-sc">
          <div class="table-responsive">
            <table ng-table="assignedJobData" class="table table-bordered table-hover">
              <tr ng-repeat="row in $data">
                <td data-title="'Sl No'">{{ $index + 1}}</td>
               <td data-title="'category'" sortable="'user_category'">{{row.category}}</td>
                <td data-title="'Assignment'" sortable="'assignment'">{{row.assignment}}</td>
                <td data-title="'User Name'" ng-init="getUserName(row)">{{row.userDetails.firstname}} {{row.userDetails.lastname}}</td>
                 <td data-title="'Status'" sortable="'user_status'">{{row.status}}</td>
                <td data-title="'Action'">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="work-details({'job_id':row._id})"><i class="fa fa-eye"></i></a></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
            </div>
    </div>
  </div>
</section>
<section class="content" ng-init="getAssignedJobs()" ng-show="checkInternalUser()" >
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="box">
        <div class="box-body over-x-sc">
          <div class="table-responsive">
            <table ng-table="assignedJobData" class="table table-bordered table-hover">
              <tr ng-repeat="row in $data">
                <td data-title="'Sl No'">{{ $index + 1}}</td>
               <td data-title="'category'" sortable="'user_category'">{{row.category}}</td>
                <td data-title="'Assignment'" sortable="'assignment'">{{row.assignment}}</td>
                <td data-title="'User Name'" ng-init="getUserName(row)">{{row.userDetails.firstname}} {{row.userDetails.lastname}}</td>
                 <td data-title="'Status'" sortable="'user_status'">{{row.status}}</td>
                <td data-title="'Action'">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="work-details({'job_id':row._id})"><i class="fa fa-eye"></i></a></button>
                  </div>
                   <div class="btn-group">

                   <!--  <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="work-details({'job_id':row._id})"><i class="fa fa-eye"></i></a></button> -->
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
            </div>
    </div>
  </div>
</section>
<section class="content-header m-b-40" ng-show="checkClient()">
<h1 cass="pull-left">
    My Created Tasks
  </h1>
 
</section>
<section class="content" ng-init="getTaskList()" ng-show="checkClient()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body over-x-sc">
          <div class="table-responsive">
            <table ng-table="createdTaskData" class="table table-bordered table-hover">
              <tr ng-repeat="row in $data">
                <td data-title="'Sl No'">{{ $index + 1}}</td>
                <td data-title="'Name'" sortable="'user_category'">{{row.workName}}</td>
               <td data-title="'category'" sortable="'user_category'">{{row.category}}</td>
                <td data-title="'Assignment'" sortable="'assignment'">{{row.assignment}}</td>
                <td data-title="'Assignment Status'" sortable="'user_status'" ng-if="row.user">Assigned</td>
                 <td data-title="'Assignment Status'" sortable="'user_status'" ng-if="!row.user">Not Assigned</td>
                 <td data-title="'Status'" sortable="'user_status'">{{row.status}}</td>
                <td data-title="'Action'">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="work-details({'job_id':row._id})"><i class="fa fa-eye"></i></a></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
