<header class="main-header" ng-init="getUserDetails()" ng-controller="Main_Controller" >
  <a ui-sref="dashboard" class="logo">
    <span class="logo-mini"><b>I</b><b>T</b><b>R</b></span>
    <span class="logo-lg">Income Tax Return File</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
         <li class="contact-us pull-left">
            <span class="">Contact Us</span>
        </li>
        
        <li class="dropdown contact-menu open pull-left">
            <a  class="dropdown-toggle p-5 m-r-15" data-toggle="dropdown" aria-expanded="true">
            
              <i class="fa fa-phone-square p-r-10"></i>+91 977-800-7764 <br>
              <i class="fa fa-envelope-o  p-r-10"></i>rashmi@fincrony.com
            </a>
        </li>
        <li class="dropdown user user-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="profile-pic-name">{{userDetails.firstname+" "+userDetails.lastname | getShortName}}</span>
            <span class="hidden-xs">{{userDetails.firstname+" "+userDetails.lastname}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <span class="profile-pic-name m-t-6">{{userDetails.firstname+" "+userDetails.lastname | getShortName}}</span>
                <p>
                 {{userDetails.firstname+" "+userDetails.lastname}}
                  <!-- <small>Member since Nov. 2012</small> -->
                </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="" class="btn btn-default btn-flat" ui-sref="user-profile">Profile</a>
              </div>
              <div class="pull-right">
                <a href="" class="btn btn-default btn-flat" ng-click="signOut()">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
