<header class="main-header" ng-init="getUser()" ng-controller="User_Controller">
  <a ui-sref="dashboard" class="logo">
    <span class="logo-mini"><b>A</b>M</span>
    <span class="logo-lg">Admin Account</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="profile-pic-name"></span>
            <span class="hidden-xs">{{userDetails.firstname+" "+userDetails.middlename}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                 {{userDetails.firstname+" "+userDetails.middlename}}
                  <!-- <small>Member since Nov. 2012</small> -->
                </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="" class="btn btn-default btn-flat" ui-sref="user-profile">Profile</a>
              </div>
              <div class="pull-right">
                <a href="" class="btn btn-default btn-flat" ng-click="signOut()">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
