<div class="login-box">
  <div class="login-logo">
    <h2>Return Filing</h2>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form name="login">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>
            <input type="checkbox"> Remember Me
          </label>
        </div>
        <div class="col-xs-12">
          <button ng-click="userLogin()" class="btn btn-primary btn-block btn-flat">
            Sign In
          </button>
        </div>
      </div>
    </form>
<!--     <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <a  ui-sref="forgot-password" href="">I forgot my password</a><br><hr>
    <a ui-sref="sign-up" href="" class="text-center">Register a new membership</a>
  </div>
</div>
