<aside class="main-sidebar" ng-controller="Main_Controller">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
         <span class="profile-pic-name m-t-6">{{userDetails.firstname+" "+userDetails.lastname | getShortName}}</span>
      </div>
      <div class="pull-left info" ng-init="getUserDetails()" ng-controller="User_Controller">
          <p>{{userDetails.firstname+" "+userDetails.lastname}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu" ng-init="checkAdmin()">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview" ng-class="{'active':stateName == 'dashboard'}" ng-if="superAdmin">
        <a href="" ui-sref="dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
		  </li>
       <li class="treeview" ng-class="{'active':stateName == 'profile-update' || stateName == 'user-profile'}">
        <a href="" ui-sref="user-profile">
          <i class="fa fa-dashboard"></i> <span>Profile</span>
        </a>
      </li>
      <li class="treeview" ng-class="{'active':stateName == 'return-file-details' || stateName == 'return-file'}">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Return Files</span>
          </a>
          <ul class="treeview-menu">
            <li ng-class="{'active':stateName == 'return-file-details'}"><a href="" ui-sref="return-file-details"><i class="fa fa-circle-o"></i>Previous Return Files</a></li>
            <li ng-class="{'active':stateName == 'return-file'}"><a href="" ui-sref="return-file"><i class="fa fa-circle-o"></i> New return Files</a></li>
          </ul>
        </li>
      <!-- <li class="treeview" ng-class="{'active':stateName == 'return-file'}">
        <a href="" ui-sref="return-file">
          <i class="fa fa-dashboard"></i> <span>Return Filing</span>
        </a>
      </li> -->
      <li class="treeview" ng-class="{'active':stateName == 'payment'}">
        <a href="" ui-sref="payment">
          <i class="fa fa-dashboard"></i> <span>Payment Confirmation</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
