<div class="register-box">
  <div class="register-logo">
    <a href=""><b>Return</b> Filing</a>
  </div>
  <div class="register-box-body" ng-init="getRoll()">
    <p class="login-box-msg">Register a new membership</p>
    <form name="register">
     	<div class="form-group has-feedback" ng-class="{'has-error':register.user_email.$touched && register.user_email.$invalid}">
	        <input type="email" class="form-control" name="user_email" ng-model="user.email" placeholder="Email" required>
	        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	        <span class="help-block" ng-show="register.user_email.$error.required && register.user_email.$touched">Email is required</span>
     	</div>
        <div class="form-group has-feedback" ng-class="{'has-error':register.user_pass.$touched && register.user_pass.$invalid}">
	        <input type="text" class="form-control" placeholder="User Name" name="user_name" ng-model="user.username" required>
	        <span class="glyphicon glyphicon-user form-control-feedback"></span>
	        <span class="help-block" ng-show="register.user_name.$error.required && register.user_name.$touched">User Name is required</span>
      	</div>
      	<div class="form-group has-feedback" ng-class="{'has-error':register.user_pass.$touched && register.user_pass.$invalid}">
	        <input type="password" class="form-control" placeholder="Password" name="user_pass" ng-model="user.password" required>
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	        <span class="help-block" ng-show="register.user_pass.$error.required && register.user_pass.$touched">Password is required</span>
      	</div>
      	<div class="form-group has-feedback" ng-class="{'has-error':(register.user_repass.$touched && register.user_repass.$invalid) || (showPasswordMisMatch && register.user_repass.$touched)}">
	        <input type="password" class="form-control" placeholder="Retype password" name="user_repass" ng-model="user.repass" required ng-change="checkPassword(user.password, user.repass)">
	        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
	        <span class="help-block" ng-show="register.user_repass.$error.required && register.user_repass.$touched">Please Reenter Your password</span>
	        <span class="help-block" ng-show="showPasswordMisMatch && register.user_repass.$touched">Password doesn't match</span>
      	</div>
      	<div class="row form-group m-l-5">
	        <div class="col-xs-8">
	          <div class="checkbox icheck">
	            <label>
	              <input type="checkbox" ng-model="is_agree"> I agree to the <a href="">terms</a>
	            </label>
	          </div>
	        </div>
	        <div class="col-xs-4">
	          <button ng-disabled="register.$invalid || !is_agree" class="btn btn-primary btn-block btn-flat" ng-click="registerUser()">Register</button>
	        </div>
      	</div>
    </form>
    <a ui-sref="login" class="text-center">I already have a membership</a>
  </div>
</div>
    

